.menu-perso > a:link, a:visited {
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}
.menu-perso a:hover, a:active {
    background-color: #0175D8;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
}
.active-active {
    background-color: #0175D8;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    line-height: 50px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
.list-group-small {
    width: 250px;
}
